@using Immo_Demo.Models;
@using IMMO.DAL;
@{
    ViewBag.Title = "Index";
}
<script src="/Scripts/kendo/2014.3.1411/jquery.min.js"></script>
<script src="/Scripts/kendo/2014.3.1411/kendo.all.min.js"></script>
<link href="/Content/kendo/2014.3.1411/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2014.3.1411/kendo.metro.min.css" rel="stylesheet">
<!-----debut Header*************************************-->
<!-----debut Header*************************************-->
<header>
    <div class="float-right">
        <ul id="menu">
            <li>
                <span class="k-icon k-i-group"></span>
                Immoblisations
                <ul>
                    <!--          debut test -->
                    <li>
                        @Html.ActionLink(" Mes Articles", "Index", "Articles")
                    <ul>
                        <li>@Html.ActionLink("Gestion des Familles", "Famille", "Articles")</li>
                        <li>@Html.ActionLink("Gestion des Affectations", "Affectation", "Articles")</li>
                        <li>@Html.ActionLink("Gestion des Exercices", "Exercices", "Articles")</li>
                        <li>@Html.ActionLink("Gestion des Services", "Services", "Articles")</li>

                    </ul>
                </li>
                <!--               Fin test   -->
                <li>@Html.ActionLink("Fiches d Article", "Index", "Gestion")</li>
                <li>@Html.ActionLink("Localisation", "Index", "Local")</li>
                <li>@Html.ActionLink("Ammortissement", "Index", "Ammortissement")</li>
            </ul>

        </li>
        <li>
            <span class="k-icon k-i-group"></span>
            Comptabilité
            <ul>
                <li>@Html.ActionLink(" Mes Documents", "Index", "Documents")</li>
                <li>@Html.ActionLink("Mes comptes", "Index", "Comptes")</li>
                <li>@Html.ActionLink("écritures XML", "GetAllInvCompt", "XML")</li>
            </ul>
        </li>
        <li>
            <span class="k-icon k-i-group"></span>
            Gestion
            <ul>
                <li>@Html.ActionLink(" Cession", "Index", "Cession")</li>
                <li>@Html.ActionLink("Mise en Rebut", "Index", "ArticleSupp")</li>
                <li>@Html.ActionLink("Code à barre", "Index", "CodeBar")</li>
                <li>@Html.ActionLink("Historique", "Index", "Historique")</li>
            </ul>
        </li>
        <li>
            <span class="k-icon k-i-group"></span>
            Inventaire
            <ul>
                <li>@Html.ActionLink("Inventaire", "Index", "Inventaire")</li>
                <li>@Html.ActionLink("Statistique", "Index", "Statestique")</li>
                <li>@Html.ActionLink("Gestion TVA", "Index", "TVA")</li>

            </ul>
        </li>
        <li>
            <span class="k-icon k-i-group"></span>
            Utilisateurs
            <ul>
                <li>@Html.ActionLink("Utilisateurs", "Index", "Utilsateurs")</li>
                <li>@Html.ActionLink("Groupes", "Index", "Role")</li>
            </ul>
        </li>
    </ul>


    <script>
        $("#menu").kendoMenu({
            animation: { open: { effects: "fadeIn" } }
        });
    </script>

</div>
<div style="float:right">
    <ul id="menu2">

        <li id="imageButton">@Html.ActionLink(" ", "Index", "Home")</li>


        @{
            if (User.Identity.IsAuthenticated)
            {
                <li>
                    <strong style="color:purple">@User.Identity.Name</strong> |
                    @{
                if (Roles.GetRolesForUser().Length > 0)
                { <strong style="color:purple">@Roles.GetRolesForUser()[0]</strong>
                }
                    }

                </li>
            }

            else
            {
                <li>@Html.ActionLink("Login", "Login", "Account")</li>


                <li>@Html.ActionLink("S inscrir", "Register", "Account")</li>

            }
            <li>
                @Html.ActionLink("Logout", "Logout", "Account")
            </li>

        }

    </ul>
    <script>
        $("#menu2").kendoMenu({
            animation: { open: { effects: "fadeIn" } }
        });
        $(document).ready(function () {


            $("#imageButton").kendoButton({
                imageUrl: "../Content/icone/home.png"
            });
        });



    </script>
    <style>
        .k-button .k-image {
            height: 25px;
        }
    </style>

</div>



</header>



<!--******** Fin Header**********************************************-->
<img src='../Content/icone/fichier.png' alt='ar' title='Texte à afficher1' width='50' height='50' align='left' style="padding-top:0px">

<h1 style="color:purple;font-family: 'MV Boli', arial, serif;">Historique des Affectations</h1>
<!--******************************************************-->
<div id="doc">
   
    <!--***************************************************************-->
    <hr />
    
    <div style="float:left ; position:relative ; width:20px">
        <label>Annee</label>
        @(Html.Kendo().ComboBox()
          .Name("ChercherParAnnee")
        .HtmlAttributes(new { Style = "width:250px" })
         .AutoBind(false)
          .Suggest(true)

          .Placeholder("Enrter Annee")
          .DataTextField("ANNEE")
          .DataValueField("ANNEE")
          .Template("#= ANNEE#")

                            .Filter(FilterType.Contains)
          .MinLength(3)


          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetArticlesN", "Historique");
              });
          })
                .Events(e => e.Change("onChange"))
        )

        <label>Numero</label>
        @(Html.Kendo().ComboBox()
        .Name("ChercherParNum")
                        .HtmlAttributes(new { Style = "width:250px" })

                          .AutoBind(false)
                                            .Suggest(true)

          .Placeholder("Enrter Numero")
                   .DataTextField("NUM")
                  .DataValueField("NUM")
                  .Template("#= NUM#")

        .Filter(FilterType.Contains)
          .MinLength(3)


          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetArticlesH", "Historique");
              });
          })
                .Events(e => e.Change("onChange"))
        )
        <br />
        <br /><br />
<br /><br />
<br />
        <br /><br />
        <label>Code_Article</label>
        @(Html.Kendo().ComboBox()
        .Name("ChercherParArticle")
                        .HtmlAttributes(new { Style = "width:250px" })

                          .AutoBind(false)
                                            .Suggest(true)

          .Placeholder("Enrter Code")
                   .DataTextField("ARTICLE")
                  .DataValueField("ARTICLE")
                  .Template("#= ARTICLE#")

        .Filter(FilterType.Contains)
          .MinLength(3)


          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetArticlesA", "Historique");
              });
          })
                .Events(e => e.Change("onChange"))
        )
        <!--***************************************************-->
        <br /><br />
        
       
    </div>           
    <!--*******************************Debut des Grid-->
    <div class="grid" >
        <h3 style="color:orangered;font-family: 'MV Boli', arial, serif;">Affectation Global</h3>
        @(Html.Kendo().Grid<IMMO_HIST_AFFECTATION>()

    .Name("Hist")
    .AutoBind(true)
                            .HtmlAttributes(new { Style = "width:250px" })



    .Columns(columns =>
                 {
                     columns.Bound(o => o.ANNEE).Title("Annee").Width(100).Locked(true).Lockable(false);
                     columns.Bound(o => o.NUM).Width(100).Title("Num").Locked(true);
                     columns.Bound(o => o.DATEAFFECTATION).Title("Date d Affect").Width(150).Locked(true).Format("{0:dd-MM-yyyy}").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center; " }); ;
                     columns.Bound(o => o.ANCIENNEAFFECTATION).Title("Ancienne Affect").Width(150).Locked(true);

                     columns.Bound(o => o.NOUVELLEAFFECTATION).Title("Nouvelle Affect").Width(150).Locked(true);

                     columns.Bound(o => o.ETAT).Width(100).Title("Etat").Locked(true);

                     columns.Bound(o => o.OBSERVATION).Title("Remarque").Width(100).Locked(true);
                  
                     columns.Command(command =>
                                         {
                                             command.Edit().Text(" ");
                                             command.Destroy().Text(" ");
                                         }).Width(200);
                 })
    .DataSource(datasoure => datasoure.Ajax()
                                .Model(model => model.Id(record => record.NUM))
                                                        .Read(read => read.Action("ChercherHisto", "Historique").Data("AdditionalData1"))
                                                                .Create(create => create.Action("Add_His", "Historique"))
                                                                        .Update(update => update.Action("Update_His", "Historique"))
                                                                        .Destroy(delete => delete.Action("Delete_His", "Historique"))






                                .PageSize(3)
    )



            .ToolBar(toolbar => toolbar.Create().Text("Ajouter Affectation Global")).HtmlAttributes(new { Style = "width:1050px" })


    .Editable(editable => editable.Mode(GridEditMode.InLine))

    .Sortable()

    .Selectable()

    .Pageable(pageable =>
                  {
                      pageable.Refresh(true);
                      pageable.PageSizes(true);
                  })

        )
        <!--*****************************Debut grid n2*********************************************-->
        <h3 style="color:orangered;font-family: 'MV Boli', arial, serif;">Affectation Par Article</h3>
        @(Html.Kendo().Grid<IMMO_HIST_AFFECTATION_ARTICLE>()

    .Name("Hist_Art")
    .AutoBind(true)
                            .HtmlAttributes(new { Style = "width:250px" })



    .Columns(columns =>
    {
        columns.Bound(o => o.ARTICLE).Title("Article").Width(100).Locked(true).Lockable(false);

                     columns.Bound(o => o.ANNEE).Title("Annee").Width(100).Locked(true).Lockable(false);
                     columns.Bound(o => o.NUM).Title("Num").Width(100).Locked(true);
                     columns.Bound(o => o.DATEAFFECTATION).Title("Date d Affect").Width(150).Locked(true).Format("{0:dd-MM-yyyy}").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center; " }); ;
                     columns.Bound(o => o.ANCIENNEAFFECTATION).Title("Ancienne Affect").Width(100).Locked(true);

                     columns.Bound(o => o.NOUVELLEAFFECTATION).Title("Nouvelle Affect").Width(100).Locked(true);

                     columns.Bound(o => o.ETAT).Title("Etat").Width(100).Locked(true);

                     columns.Bound(o => o.OBSERVATION).Title("Remarque").Width(100).Locked(true);

                     columns.Command(command =>
                                         {
                                             command.Edit().Text(" ");
                                             command.Destroy().Text(" ");
                                         }).Width(200);
                 })
    .DataSource(datasoure => datasoure.Ajax()
                                .Model(model => model.Id(record => record.NUM))
                                                                .Read(read => read.Action("ChercherAffHisArt", "Historique").Data(" AdditionalData2"))
                                                                        .Create(create => create.Action("Add_His_Art", "Historique"))
                                                                                .Update(update => update.Action("Update_His_Art", "Historique"))
                                                                                .Destroy(delete => delete.Action("Delete_His_Art", "Historique"))






                                .PageSize(3)
    )



                    .ToolBar(toolbar => toolbar.Create().Text("Ajouter Affectation d Article")).HtmlAttributes(new { Style = "width:1050px" })


    .Editable(editable => editable.Mode(GridEditMode.InLine))

    .Sortable()

    .Selectable()

    .Pageable(pageable =>
                  {
                      pageable.Refresh(true);
                      pageable.PageSizes(true);
                  })

        )






    </div>   
    <!--*********************************Fin des Grid-->



    <!--***************************************************************-->

               

</div>
<style>
    #doc {
        width: 1365px;
        height: 590px;
        
    }
    .grid{
        width:1050px;
       height:250px;
       padding-right:5px;
       padding-top:-5px;
       float:right
    }
    
</style>
<!--/////////////////////////Debut des Script/////////////////////////////////-->
<script>
    function AdditionalData1() {
        return {

            ANNEE: $("#ChercherParAnnee").data("kendoComboBox").value(),
            NUM: $("#ChercherParNum").data("kendoComboBox").value()

        }
        }
    
  
    
    function AdditionalData2() {
        return {
            ANNEE: $("#ChercherParAnnee").data("kendoComboBox").value(),
            NUM: $("#ChercherParNum").data("kendoComboBox").value(),
            ARTICLE: $("#ChercherParArticle").data("kendoComboBox").value()

        }
    }
    function onChange() {
        $("#Hist").data("kendoGrid").dataSource.read();
        $("#Hist_Art").data("kendoGrid").dataSource.read();
        $("#Kgrid").data("kendoGrid").dataSource.read();



    }
</script>

<!--////////////////////////////////////////////////////////////////////////////-->



